<div class="row">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active control-tabs" id="home"><a href="#">Home</a></li>
    <li role="presentation" class="control-tabs" id="spy"><a href="#">Spy</a></li>
    <li role="presentation" class="control-tabs" id="me"><a href="#">Me</a></li>
  </ul>
</div>

<div class="row">
  <div id="chat-feed" class="container">
    <div class="well col-md-4" id="create-chat">
      <h3>Join the dicussion! Create a Chat</h3>
      <form role="form" method="post" action="<%= url("/new") %>">
        <textarea id="post-text" class="form-control" name="text" rows="5"></textarea>
        <input type="hidden" name="authenticity_token"  value="<%= session[:csrf] %>">
        <button class="btn btn-primary pull-right" type="submit" id="submit">Submit</button>
      </form>
    </div>
    <ul class="list-group col-md-offset-1 col-md-7">
      <% @posts.each do |post| %>
          <script>
            $(function () {
              <% vote = @votes.where(:post_id => post.id).first%>
              <% if vote and vote.value == 1 %>
                console.log("should be green");
                console.log("#" + <%= post.id.to_s %> + ".upvote");
                $("#" + <%= post.id.to_s %> + ".upvote").css("color","green");
              <% elsif  vote and vote.value == -1 %>
                console.log("should be red");
                $("#"+ <%= post.id.to_s %> +".downvote").css("color","red");
              <% end %>
            });
          </script>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-10">
                <h4 class="list-group-item-heading "><%= post.text %></h4>
              </div>
              <div class="col-md-offset-1 col-md-1">
                <div class="row">
                  <i class="fa fa-angle-double-up fa-2x upvote" id="<%=post.id %>"></i>
                </div>
                <div class="row">
                  <div class="score list-group-item-heading" id="<%=post.id %>"><%= post.score %></div>
                </div>
                <div class="row">
                  <i class="fa fa-angle-double-down fa-2x downvote" id="<%= post.id %>"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <a href="<%= url("/post/"+post.id.to_s+"/comments") %>" class="col-md-12">Comments</a>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>

